target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
.env.*
*.env
!.env.example

.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.DS_Store
uploads/
*.log
